# Compiled class file
*.class

# Log files
log/
*.log

# IntelliJ project files
.idea/
*.iml

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse project files
.classpath
.project
.settings/
*.launch

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot specific files
application.yml
